header {
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.brushes {
  font-size: 32px;
  color: white;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  background-color: mediumspringgreen;
}

brush {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: blue;
}

.frames {
  font-size: 32px;
  color: white;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  background-color: lightcoral;
}

.frame {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: blue;
}

.paint {
  font-size: 32px;
  color: white;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue;
}

.paints {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: blue;
}
